
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(2, 77, 2);
}

.root {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
}
.zag{
   text-align: center;
   margin-top: -70px;
   color: white;
}
.container, .cub {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.container {
    grid-column: 1 / 2;
    color: rgb(253, 253, 253);
    background-color: rgb(32, 99, 32);
    border: none;
}

.cub {
    grid-column: 2 / 3;
    background-color: rgb(57, 143, 57);
    border: none;
}

.stat {
    background-color: rgb(32, 99, 32);
    border: none;
    margin-top: 30px;
}

.gameHistory {
    grid-column: 3 / 4;
    color: rgb(253, 253, 253);
    background-color: rgb(32, 99, 32);
    border: none;
    height: 100%;
}

table {
    font-size: 20px;
}

.statis {
    color: rgb(247, 75, 75);
    border-bottom: 2px solid white;
}

.gameResult, .gameHistory {
    /* margin-bottom: 50px; */
    color: rgb(5, 253, 26);
}

.res {
    text-shadow: 0 0px 3px white;
    font-size: 20px;
    font-weight: 600;
    color: red;
}
.sei{
    color: rgb(163, 236, 79);
}

#whoWins {
    color: white;
    font-size: 30px;
}

#roundHistory {
    color: white;
}

#area {
    width: 460px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-left: 80px;
    margin-bottom: 30px;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    cursor: pointer;
    user-select: none;
    color: red;
    border-radius: 10px;
}

#currentPl {
    color: rgb(250, 76, 76);
    font-weight: bold;
    font-size: 30px;
}

.currenPlayer {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

#roundHistory {
    font-size: 20px;
}

.his {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
}


@media (max-width: 768px) {
    .root {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .container, .cub, .gameHistory {
        width: 320px;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .zag{
        text-align: center;
        margin-top: -60px;
        color: white;
     }
    .container{
        margin-top: -30px;
    }
    .gameHistory{
         margin-left: 20px;
         margin-top: -10px;
    }

    #area {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .cell {
        width: 100px;
        height: 100px;
        font-size: 60px;
    }

    .currenPlayer {
        font-size: 20px;
    }

    #currentPl {
        font-size: 25px;
    }

    #whoWins {
        font-size: 25px;
    }
       .td{
        margin-left: 20px;
    }

    table {
        font-size: 18px;
        margin-left: 0;
    }
    .his{
        font-size: 35px;
        margin-left: 50px;
        margin-top:-2px;
    }
    #roundHistory {
        font-size: 20px;
    }
    .stat{
        width: 150px;
        margin-left: 30px;
        margin-top: -5px;
    }
    .res{
        font-size: 25px;
        margin-left: 30px;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    #whoWins {
        color: white;
        font-size: 30px;
        margin-left: 30px;
    }
}

